# MetalLB values for single master (non-HA) setup
# Master preferred, worker fallback strategy

controller:
  # Master preferred, worker fallback
  tolerations:
    - key: "node-role.kubernetes.io/master"
      operator: "Equal"
      value: "system"
      effect: "NoSchedule"
  
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          preference:
            matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: Exists

speaker:
  # Master preferred, worker fallback
  tolerations:
    - key: "node-role.kubernetes.io/master"
      operator: "Equal"
      value: "system"
      effect: "NoSchedule"
  
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          preference:
            matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: Exists


